
<!-- ng-repeat="items in alphabet|groupBy:3
  this is to divide the data in set of three elements.... to show data in 3 columns..

<div class="row" ng-repeat="items in alphabet|groupBy:3">
    <div class="col-md-4" ng-repeat="item in items">
        <custom-Table data="item">

        </custom-Table>
    </div>
</div>


  alternative method
   <div class="row" ng-repeat="items in alphabet" ng-if="$index%3==0">
    <div class="col-md-4" ng-repeat="item in [$index,$index+1,$index+2]" ng-if="alphabet[item]!=null">
        <custom-Table data="alphabet[item]">

        </custom-Table>
    </div>
---------------------------------------------------------------------------------------------------------------------------
-->
<div class="row">
    <div class="col-md-8">
        <input type="button" class="btn btn-primary" value="Create New" id="btnCreate" ng-click="Open()" />
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="searchText" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" style="height:30px;" type="button">Go!</button>
                    </span>
        </div>
    </div>
</div>
<hr/>
<div class="row table_form" >
    <div class="row" ng-repeat="items in alphabet" ng-if="$index%3==0">
        <div class="col-md-4" ng-repeat="item in [$index,$index+1,$index+2]" ng-if="alphabet[item]!=null">
            <custom-Table data="alphabet[item]">

            </custom-Table>
        </div>
    </div>
</div>
